html{
    --bg-1:#fff;
    --bg-2:#e0e6eb;
    --bg-3:#c2cdd6;
    --fg-1:#212121;
    --fg-2:#4d4d4d;
    --link:#1c7ed4;
    --link-hover:#3492e5;
    --link-active:#176bb5
}
html.dark{
    --bg-1:#2e2e2e;
    --bg-2:#4d4d4d;
    --bg-3:#666;
    --fg-1:#e6e6e6;
    --fg-2:#b3b3b3;
    --fg-3:#999;
    --link:#73c1fc;
    --link-hover:#91cefd;
    --link-active:#4baffb
}
body{
    --border-radius:4px;
    --font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;--font-mono:ui-monospace,"Cascadia Code","Source Code Pro",Menlo,Consolas,"DejaVu Sans Mono",monospace;
    background:var(--bg-3);
    color:var(--fg-1);
    font-family:var(--font);
    height:calc(100vh - 2rem);
    margin:1rem;
    line-height:1.5
}
h1,h2,h3,h4,h5,h6{
    font-variant-numeric:tabular-nums;
    font-weight:400;
    line-height:1.1
}
label{
    margin:.5rem .1rem
}

a{
    color:var(--link)
}
a:hover{
    color:var(--link-hover)
}
a:active{
    color:var(--link-active)
}

label input{
    margin:0
}

button,input,select{
    font-family:inherit;
    font-size:inherit
}

input,textarea,select{
    border:1px solid var(--bg-2);
    border-radius:var(--border-radius);
    box-sizing:border-box;padding:.5rem
}
nav{
    background:var(--bg-2);
    z-index:2;
    border-radius:var(--border-radius);
    gap:1em;
    margin:0 0 1em;
    padding:1em;
    display:flex;
    position:relative
}
nav a{
    text-decoration:none
}
nav a[aria-current=true]{
    border-bottom:2px solid
}
            